#Thu, 27 Jun 2013 17:19:56 +0700
app.name=UI

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=5ee1c7c1-7939-4bb4-8c0e-c64497a5d637
